
<html>
<head>
<title> raju html demo</title>
</head>
<body>
<h1>Raja</h1>
<h2>Maneesha</h2>
<h3>Priyanka</h3>
<h4>Radha</h4>
<h5>Swapna</h5>
<h6>Lavnaya</h6>
<p>My name is Rajukumar<br>
My father name sreenivasulu<br>
I love My mom
<!-- my lover name maneesha-->
</p>
<hr>
<h1> The abbr element</h1>
<p>My <abbr title="MANEESHA">Heart</abbr> Name.</p>
<img src="https://i.pinimg.com/originals/38/87/74/38877439081908bb80017cd95732d243.jpg" width="500" height="500">
<hr>
<address>
written by RAJAKUMAR<br>
ponnapuram village<br>
nandyal mandal<br>
kurnool dist<br>
pincode:518502
</address>
<hr>
<h2> The b element </h2>
<p>My faviret heroien -<b> samanth</b></p>
<hr>
<h2> bdi element </h2>
<ul>
<li>raju<bdi>marks</bdi>:650points</li>
<li>chakri<bdi>marks</bdi>:700points</li>
<li>madhu<bdi>marks</bdi>:750points</li>
<li>vamsi<bdi>marks</bdi>:800points</li>
</ul>
<hr>
<h1> bdo element</h1>
<p>my name raju</p>
<p><bdo dir="rtl">my name raju</bdo></p>
<hr>
<h2>blockquote element</h2>
<blockquote>
For 50 years, WWF has been protecting the future of nature. 
The world's leading conservation organization, 
WWF works in 100 countries and is supported 
 1.2 million members in the United States 
and close to 5 million globally.
</blockquote>
<hr>
<h1>cite element</h1>
<img src="https://i.pinimg.com/originals/38/87/74/38877439081908bb80017cd95732d243.jpg" width="250" height="350" alt="The scream">
<p><cite>The scream</cite>by lavanya. in pic 2022</p>
<hr>
<h1>code element</h1>
<p>myname<code>lovely raju kuamr</code> is also</p>
<hr>
<h2>del element</h2>
<p> my favorite heroien is <del>kajal</del>
<ins>samantha</ins></p>
<hr>
<h2> style element</h2>
<p><dfn>my name </dfn> rajakumar</p>
<p><em> my name </em> rajakumar</p>
<p><i> my name </i> rajakumar</p>
<hr>
<h2> kbd element </h2>
<p>Press <kbd>Ctrl</kbd> + <kbd>C</kbd> to copy text (Windows).</p>

<p>Press <kbd>Cmd</kbd> + <kbd>C</kbd> to copy text (Mac OS).</p>
<hr>
<h2>mark element</h2>
<p> my name is <mark> raju </mark></p>
<hr>
<h1>meter element</h1>
<p>The meter element is used to display a gauge:</p>

<!--<lable for="disk_c">Disk usage D:</lable>
<meter id="disk_c" value="2" min="0"
max="10">2 out of 50</meter><br>

<lable for="raja">Raja:</lable>
<meter id="raja" value="1">70%</meter>-->
<label for="disk_c">Rajakumar:</label>
<meter id="disk_c" value="2" min="0" max="10">2 out of 10</meter><br>

<label for="disk_d">Maneesha:</label>
<meter id="disk_d" value="0.6">60%</meter>
<hr>
<h2>pre element</h2>
<pre>
raja kumar
sarath
rajesh
googlr
kjnkjg
klcnj
</pre>
<hr>
<h2> progress element</h2>
<!--<lable for="file"> my true love:</lable>
<progress id="file" value="32" max="100">32%</progress>-->
<label for="file">my true love:</label>
<progress id="file" value="32" max="100"> 32% </progress>
<hr>
<h2> q element</h2>
<p>my favorite qoutesion:
<q>my heart is soo senstive</q>rajakumar</p>
<hr>
<h2> s element</h2>
<p><s>maneesha</s></p>
<p>rajakumar!</p>

<hr>
<h2> type style </h2>
<p><small>maneesha</small></p>
<p><strong>maneesha</strong></p>
<p><sub>my favorite name maneesha</sub></p>
<p><sup>my favoiate name maneesha</sup></p>
<hr>
<h1>template element</h1>

<p>Click the button below to display the hidden content from the template element.</p>

<button onclick="showContent()">Show hidden content</button>

<template>
  <h2>lavanya</h2>
  <img src="lavanya.jpg" width="214" height="204">
</template>

<script>
function showContent() {
  var temp = document.getElementsByTagName("template")[0];
  var clon = temp.content.cloneNode(true);
  document.body.appendChild(clon);
}
</script>

<hr>
<h2>time element</h2>
<p>Open from <time>10:00</time> to <time>21:00</time> every weekday.</p>

<p>I have a date on <time datetime="2008-02-14 20:00">Valentines day</time>.</p>

<hr>
<h2> u element</h2>
<p> my name is<u>maneesha</u></p>
<hr>
<h2> Var element </h2>
<p>The area of a triangle is: 1/2 x <var>b</var> x <var>h</var>, 
where <var>b</var> is the base, and <var>h</var>
 is the vertical height.</p>
<hr>

<h2>wbr element</h2>
<p>this is a
rararrarrarrarrrarrarrarrarrrarrarrar<wbr>hdgydujldnjk<wbr>hddchbjkcwkucjlwjcuih
</p>
<hr>
<h2> form $ input element </h2>

<form action="/action_page.php">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>
<hr>
<h2>text area element</h2>
<form action="/action_page.php">
  <p><label for="w3review">Review of W3Schools:</label></p>
  <textarea id="w3review" name="w3review" rows="4" cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>
  <br>
  <input type="submit" value="Submit">
</form>
<hr>
<h2> button element</h2>
<button type="button"
onclick="alert('hello maneesha')">click me!
</button>
<hr>

<h2>select element</h2>
<form action="/action_page.php">
<label for="laptops">choose a laptop:</label>
<select name="laptops" id="laptops">
<option value="lenovo">Lenovo</option>
<option value="hp">Hp</option>
<option value="dell">Dell</option>
</select>
<br><br>
<input type="submit" value="submit">
</form>

<hr>
<h2>optgroup element</h2>
<form action="/action_page.php">
  <label for="cars">Choose a car:</label>
  <select name="t-shirt" id="t-shirts">
    <optgroup label="play boy ">
      <option value="pollo">pollo</option>
      <option value="cagsg">cagsg</option>
    </optgroup>
    <optgroup label="adda">
      <option value="mekd">Mekd</option>
      <option value="audi">Audi</option>
    </optgroup>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
<hr>
<h2> fieldset element</h2>
<form action="/action_page.php">
 <fieldset>
  <legend>Personalia:</legend>
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email"><br><br>
  <label for="birthday">Birthday:</label>
  <input type="date" id="birthday" name="birthday"><br><br>
  <input type="submit" value="Submit">
 </fieldset>
</form>

<hr>
<h2> output element</h2>

<form oninput="x.value=parseInt(a.value)+parseInt(b.value)">
<input type="range" id="a" value="50">
+<input type="number" id="b" value="25">
=<output name="x" for="a b"></output>
</form>
<hr>
<h2> iframe element</h2>
<iframe src="app.component.html"
title="appcomponet.ts">
</iframe>
<hr>
<h2> image element</h2>
<img src="https://i.pinimg.com/originals/38/87/74/38877439081908bb80017cd95732d243.jpg" width="100px" height="100px"> alt="lavanya" width="10" height="10">
<hr>
<h2>link element</h2>
<a href="https://www.w3schools.com">Visit W3Schools.com!</a>

<hr>
<h2> nav elemeny</h2>
<nav>
<a href="/css/">creat</a> |
<a href="/js/">loging</a> |
<a href="/python/">logout</a>
</nav>
<hr>
<h2>list tags</h2>
<ul>
<li>raju</li>
<li>maneesha</li>
<li>radha</li>
</ul>
<br>
<ol>
<li>raju</li>
<li>maneesha</li>
<li>radha</li>
</ol>
<br>
<br>
<dl>
<dt>raju</dt>
<dd>good person</dd>
<dt>maneesha</dt>
<dd> nice girl </dd>
</dl>

<hr>
<h2>table elements</h2>
<table border="2">
  <thead>
    <tr>
      <th>Month</th>
      <th>Savings</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>January</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>February</td>
      <td>$80</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Sum</td>
      <td>$180</td>
    </tr>
  </tfoot>
</table>
<hr>
<h2> style element</h2>
<style>
h1 {color:red;}
p {color:blue;}
</style>
<body>

<h1>Raja kumar</h1>
<p>lucky person.</p>
<hr>
<h2>div element</h2>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
</style>
<div class="myDiv">
  <h2>rajaaaa</h2>
  <p>good jjndcjhnlcnjkhecnl.</p>
</div>
<hr>
<h2>span element</h2>
<p>My lover has <span style="color:blue;font-weight:bold">
blue</span> eyes and my second lover has 
<span style="color:darkolivegreen;font-weight:bold">dark green
</span> eyes.</p>
<hr>
<h2> footer element</h2>
<footer>
  <p>raju: Hege Refsnes<br>
  <a href="mailto:rajakumar.com">raja@kumar.com</a></p>
</footer>
<hr>
<h2>audio</h2>
<audio controls>
<source src="horse.ogg" type="audio/ogg">
<source src="https://samplelib.com/lib/preview/mp3/sample-3s.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<hr>















</body>
