<!DOCTYPE html>
<html>
  <head>
    <title>life craft -the mastery of life</title>
  </head>
  <body>
    <header>
      <a href="index.html">
        <img
          src="logo2.jpg"
          alt="life craft"
          title="life craft -the mastery of life"
        />
      </a>
    </header>

    <hr />
    <nav>
      <table cellspacing="5" cellpadding="5">
        <tr>
          <td><a href="index.html">Home</a></td>
          <td><a href="articles.html">Articles</a></td>
          <td><a href="habits.html">Habits</a></td>
          <td><a href="skills.html">Skills</a></td>
          <td><a href="quotes.html">Quotes</a></td>
          <td><a href="books.html">Books</a></td>
        </tr>
      </table>
    </nav>
    <hr />
    <h2>welcome to new life</h2>

    <p>
      life craft _ living a good, fulfilling life by developing storng character
      and life skills.
    </p>
    <img src="istoke.jpg" width="20%" height="20%%" />
    <ul>
      <li>your humaness proves your holines.</li>
      <li>your imperfection is your superpower.</li>
      <li></li>
      <li>wounds hold your gift.</li>
      <li>feelingds are your healings.</li>
      <li></li>
      <li>your pain reflacts your devotion to experiencing and all of life.</li>
      <li>
        your brokenness demonstates your determination to love and affirms your
        ability to love and be loved.
      </li>
    </ul>
    <P><strong>Made with love</strong></P>
    <hr />
    <footer>copyright &copy; Lifecraft.love 2021-2022</footer>
  </body>
</html>
